{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'webapp:image_add' %}" class="action-btn">add image</a></li>


{% endblock %}

{% block content %}
        <div class="home_div">
            {% for image_one in image %}
                <div class="boss_div">
                 <img class="avatar" src="{{ image_one.image.url }}" width="250" height="250" alt="user picture">
                    <h4>{{ image_one.text }}</h4>
                    <div class="for_button">
                        <a href="{% url 'webapp:image' image_one.pk %}" class="btn btn1">More >>></a>
                        <a href="{% url 'webapp:update_image' image_one.pk %}" class="btn btn3">Edit</a>
                        <a href="{% url 'webapp:delete_image' image_one.pk %}" class="btn btn2">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}